
*.mti
*.vcd
*.img
*.log
*.trace
*.wlf
*.qpg
*.qtl
*.qdb
*.mti
*.vcd
Stage 1/work/_vmake
*.vcd
*.mti
Stage 1/work/_info
*.vcd
*.mti
*.mpf
Stage 2/dump.vcd
Stage 2/Stage2ModelSim.cr.mti
*.mpf
Stage 2/Stage2ModelSim.mpf
Stage 2/work/_info
Stage 2/work/_lib.qdb
Stage 2/work/_lib1_1.qdb
Stage 2/work/_lib1_1.qpg
Stage 2/work/_lib1_1.qtl
*.qpg
*.qtl
*.qdb
Stage 2/Stage2ModelSim.cr.mti
Stage 3/work/_vmake
Stage 3/work/_info
Stage 2/verilogsim.plog
Stage 2/verilogsim.ptrace
Stage 2/work/_vmake
*.ptrace
*.plog
Stage 3/work/_lock
Stage 3/work/_vmake
Stage 3/work/_info
Stage 3/work/_vmake
Stage 3/work/_info
Stage 3/work/_info
Stage 3/FSM_tb.sv.bak
Stage 3/work/_info
Stage 3/work/_info
Stage 3/work/_info
Stage 3/work/_info
Stage 3/work/_info
Stage 3/work/_info
